@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// *:focus {
//   outline: none;
// }

html {
  font-size: 13px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}


.container {
  padding: 50px;
}

.btn {
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.1em;
  color: #fff;
  padding: .7em 1em;
  background: $primary-color;
  border: {
    top: 0;
    right: 0;
    bottom: solid 3px $primary-color--darken;
    left: 0;
  }
  border-bottom-width: 3px;
  border-radius: 4px;
  cursor: pointer;

  &_accent {
    background: $accent-color;
    border-bottom-color: $accent-color--darken;
  }

  &_secondary {
    background: $secondary-color;
    border-bottom-color: $secondary-color--darken;
  }

  &_small {
    font-size: 1em;
  }

  &_large {
    font-size: 1.5em;
    padding: 1.3em 3.3em;
    border-bottom-width: 4px;
  }

  &_link {
    background: none;
    border: none;
    text-decoration: none;
  }

  &_icon {
    font-size: 1.2em;
    padding: .65em 1em .55em;
  }

  &:hover {
    background: $accent-color;
    border-bottom-color: $accent-color--darken;
  }

  &:active {
    background: $accent-color--darken;
  }

  &:focus {
    outline: 0;
  }
}

.primary-wrapp {
  background: $primary-color;
}

.title {
  &-h2 {
    font-size: 2.8em;
    text-align: center;
    font-weight: 600;
    color: $accent-color;
  }
  &-h3 {
    font-size: 1.23em;
    color: $secondary-color;
  }
}
