.services {
    background-color: #f3f3f3;
    padding: 20px 0 75px;

    &__top {
        background: #ececec;
        border-radius: 7px;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        @media (max-width:630px) {
          flex-direction: column;
        }

        &__left {
            margin-right: 20px;

            @media (max-width:630px) {
                margin: 0;
                text-align: center;
              }
        }

        .title-h3 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .description {
            color: #777777;

            @media (max-width:630px) {
                margin-bottom: 15px;
              }
        }

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            width: 100%;
            min-width: 200px;
            padding: 0;

            @media (max-width:732px) {
                height: 50px;
                min-width: 150px;
                font-size: 1.2em;
                
            }
        }

        .btn:hover {
            background-color: $accent-color--darken;
            transition: all 0.3s;
        }
    }

    &__items-wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width:1152px) {
            flex-wrap: wrap;
            justify-content: space-around;

          }

        @media (max-width:602px) {
            flex-direction: column;
            align-items: center;
          }
    }

    &__item {
        background: #f8f8f8;
        padding: 50px 25px;
        text-align: center;
        width: 270px;
        height: 310px;
        margin-bottom: 50px;

        border: {
            top: 0;
            right: 0;
            bottom: solid 3px #e5e6e6;
            left: 0;
        }

        border-bottom-width: 3px;
        border-radius: 7px;
        position: relative;

        @media (max-width:1152px) {
            width: 40%;

          }

        @media (max-width:602px) {
            width: 80%;
          }

        .icon {
            font-size: 60px;
            color: $primary-color;
            margin-bottom: 20px;
            text-align: center;
        }

        &:hover {
            .icon {
                color: $accent-color;
            }

            background: #fff;
        }

        .title-h3 {
            text-transform: uppercase;
            margin-bottom: 35px;
            color: #777777;
            text-align: center;
        }

        .description {
            line-height: 21px;
            color: #777777;
        }

        .btn {
            text-transform: lowercase;
            padding: 15px 65px;
            font-size: 14px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%);
        }


    }
}