<div class="services">
    <div class="container">

        <div class="services__top">
            <div class="services__top__left">
                <h3 class="title-h3">Some of our top services</h3>
                <p class="description">Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo. </p>
            </div>

            <div class="services__top__right">
                <button class="btn btn_accent btn_large">view more</button>
            </div>
        </div>

        <div class="services__items-wrapper">

            <div class="services__item">
                <i class="fa fa-thumbs-up icon"></i>
                <h3 class="title-h3">SUSPENDISSE</h3>
                <p class="description"> Quisque id tellus quis risus vehicula vehicula ut turpis. In eros nulla, placerat vitae at, vehicula ut nunc. </p>
                <button class="btn btn_large">read more</button>
            </div>

            <div class="services__item">
                <i class="fa fa-key icon"></i>
                <h3 class="title-h3">SUSPENDISSE</h3>
                <p class="description"> Quisque id tellus quis risus vehicula vehicula ut turpis. In eros nulla, placerat vitae at, vehicula ut nunc. </p>
                <button class="btn btn_large">read more</button>
            </div>

            <div class="services__item">
                <i class="fa fa-flag icon"></i>
                <h3 class="title-h3">SUSPENDISSE</h3>
                <p class="description"> Quisque id tellus quis risus vehicula vehicula ut turpis. In eros nulla, placerat vitae at, vehicula ut nunc. </p>
                <button class="btn btn_large">read more</button>
            </div>

            <div class="services__item">
                <i class="fa fa-flask icon"></i>
                <h3 class="title-h3">SUSPENDISSE</h3>
                <p class="description"> Quisque id tellus quis risus vehicula vehicula ut turpis. In eros nulla, placerat vitae at, vehicula ut nunc. </p>
                <button class="btn btn_large">read more</button>
            </div>

        </div>

    </div>
</div>