<%
    const portfolioItems = [
        {
            title: 'Donec faucibus ultricies congue',
            description: 'Maecenas eget turpis turpis. Nunc vel metus augue. Aenean euismod cursus ligula eget dapibus. Praesent vel erat in tortor placerat dignissim. Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.',
            imgUrl: 'img/img.jpg',
            link: 'www.project.dom',
        },
        {
            title: 'In eget dictum lorem, vel interdum quam.',
            description: 'Morbi purus nibh, porta cursus efficitur a, sagittis id tortor. Mauris pellentesque, orci commodo egestas congue, arcu nulla porta velit, vel viverra ante ligula eu elit. Cras vulputate posuere venenatis. Aenean ornare, tortor id rutrum tristique, tellus velit dignissim turpis, ac finibus risus augue convallis mauris. Cras accumsan ullamcorper metus, et viverra nibh molestie vel. Maecenas id dolor in sapien scelerisque congue quis nec sapien. Donec sed tempus purus.',
            imgUrl: 'img/img.jpg',
            link: 'www.project.dom',
        },
        {
            title: 'Donec at convallis massa, non vehicula magna.',
            description: 'Quisque et nunc ipsum. Etiam a ligula ac nunc fringilla egestas vitae in risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam rhoncus turpis auctor ligula vulputate hendrerit. Morbi pretium vehicula diam, in lobortis nisi porta id. Morbi semper ornare nunc quis euismod. Donec sapien nibh, rhoncus eget est vel, tincidunt congue lorem. Pellentesque finibus ligula non risus ornare gravida. Sed elit dolor, consectetur non risus at, iaculis fermentum augue. Aliquam finibus eu risus a fringilla. Sed volutpat tortor at augue iaculis, ac euismod ante interdum.',
            imgUrl: 'img/img.jpg',
            link: 'www.project.dom',
        },
        {
            title: 'Donec dignissim libero at blandit dapibus. ',
            description: ' Duis nulla sem, efficitur et lobortis quis, egestas sodales arcu. Morbi malesuada nulla sed augue semper tristique sit amet sed arcu. Praesent ac ultricies lectus. Fusce interdum placerat ante, sit amet volutpat justo. Vestibulum consequat suscipit dignissim. Nullam hendrerit nisi a porttitor pellentesque. Mauris consequat massa turpis, tempor eleifend nibh ornare vitae. Donec pharetra orci sapien, quis varius massa blandit id. Ut rhoncus ligula non ante laoreet, at congue lacus rutrum.',
            imgUrl: 'img/img.jpg',
            link: 'www.project.dom',
        },
    ];

    const filters = [
        {
            title:'all',
            attr: 'all',
        },
        {
            title:'web design',
            attr: 'web design',
        },
        {
            title:'logo design',
            attr: 'logo design',
        },
        {
            title:'photography',
            attr: 'photography',
        },
        {
            title:'wordpress',
            attr: 'wordpress',
        },
    ];
%>

<div class="portfolio">
    <div class="portfolio__subheader">
        <div class="container">

            <div class="portfolio__title">

                <div class="portfolio__title__left">
                    <h3 class="title-h3">Portfolio</h3>
                </div>

                <div class="portfolio__title__right">
                    <div class="breadcrumbs">
                        <a class="breadcrumbs__item breadcrumbs__item-link" href="index.html">Home</a>
                        <span class="breadcrumbs__item">Portfolio</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="arrow"></div>
    </div>

    <div class="container">
        <div class="filters">

            <% for (let filterItem of filters) { %>
                <button class="btn btn_secondary btn_small" data-name="<%= filterItem.attr %>"><%= filterItem.title %></button>
             <% } %>
        </div>

        <div class="cases">
            <span class="loader"><i class="fa fa-spinner" class="loader-block__icon"></i></span>
        </div>

        <div class="pagination">
            <a href="#">
                <div class="pagination__item left-arrow">
                    <i class="fa fa-chevron-left"></i>
                </div>
            </a>
            <a href="#">
                <div class="pagination__item page-active">1</div>
            </a>
            <a href="#">
                <div class="pagination__item page">2</div>
            </a>
            <a href="#">
                <div class="pagination__item page">3</div>
            </a>
            <a href="#">
                <div class="pagination__item right-arrow">
                    <i class="fa fa-chevron-right"></i>
                </div>
            </a>
        </div>

    </div>


</div>