<div class="row__col-3">
  <h3 class="about-us__col-title title-h3">What Client’s Say?</h3>
  <blockquote class="blockquote">
    <p class="blockquote__text">
      Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam
      auctor diam pellentesque lectus vehicula mattis. Nulla ac massa at
      dolor condimentum
    </p>
    <span class="blockquote__author">John Doe</span>
  </blockquote>
</div>