<div class="about-us__row-padding row">
  <% for (let i = 0; i < 6; i++) {%>
    <div class="row__col-2">
      <div class="about-us__slider-card">
        <img class="about-us__slider-img" src="./img/jquery.png">
      </div>
    </div>
  <% } %> 
</div>