<div class="about-us" style="margin-top: 250px">
  <div class="container">
    <div class="row">
      <div class="row__col-3">
        <h3 class="about-us__col-title title-h3">Why choose us?</h3>

        <ul class="about-us__list">
          <li class="about-us__list-item">Quisque at massa ipsum</li>
          <li class="about-us__list-item">Maecenas a lorem augue, egestas</li>
          <li class="about-us__list-item">
            Cras vitae felis at lacus eleifend
          </li>
          <li class="about-us__list-item">Etiam auctor diam pellentesque</li>
          <li class="about-us__list-item">Nulla ac massa at dolor</li>
          <li class="about-us__list-item">Condimentum eleifend vitae vitae</li>
        </ul>
      </div>

      <div class="row__col-6">
        <p class="about-us__p">
          Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor
          diam pellentesque lectus <a href="#">vehicula mattis</a>. Nulla ac
          massa at dolor condimentum eleifend vitae vitae urna.
        </p>
        <div class="row">
          <div class="row__col">
            <div class="about-us__counter">
              <div class="about-us__counter-img">
                <img
                  class="about-us__circle about-us__circle_50"
                  src="img/diagram.svg"
                />
              </div>
              <span class="about-us__counter-num">50</span>
              <h3 class="about-us__counter-sub-t title-h3">Suspendisse</h3>
            </div>
          </div>
          <div class="row__col">
            <div class="about-us__counter">
              <div class="about-us__counter-img">
                <img
                  class="about-us__circle about-us__circle_70"
                  src="img/diagram.svg"
                />
              </div>
              <span class="about-us__counter-num">70</span>
              <h3 class="about-us__counter-sub-t title-h3">Maecenas</h3>
            </div>
          </div>
          <div class="row__col">
            <div class="about-us__counter">
              <div class="about-us__counter-img">
                <img
                  class="about-us__circle about-us__circle_80"
                  src="img/diagram.svg"
                />
              </div>
              <span class="about-us__counter-num">80</span>
              <h3 class="about-us__counter-sub-t title-h3">Aliquam</h3>
            </div>
          </div>
          <div class="row__col">
            <div class="about-us__counter">
              <div class="about-us__counter-img">
                <img
                  class="about-us__circle about-us__circle_100"
                  src="img/diagram.svg"
                />
              </div>
              <span class="about-us__counter-num">100</span>
              <h3 class="about-us__counter-sub-t title-h3">Habitasse</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row__col-3">
        <h3 class="about-us__col-title title-h3">What Client’s Say?</h3>
        <blockquote class="blockquote">
          <p class="blockquote__text">
            Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam
            auctor diam pellentesque lectus vehicula mattis. Nulla ac massa at
            dolor condimentum
          </p>
          <span class="blockquote__author">John Doe</span>
        </blockquote>
      </div>
    </div>
  </div>
</div>
