<% 
  const IMAGES = [...Array(8)].map(()=> ({imgUrl: 'img/jquery.png'}));
%> 

<div class="about-us" style="margin-top: 250px">
  <div class="container">
    <div class="about-us__row-padding row">
      <%= include('about_us/__left_column') %>
      <%= include('about_us/__middle_column') %>
      <%= include('about_us/__right_column') %>
    </div>

    <div class="about-us__slider">
      <div class="about-us__row-padding about-us__slider-header">
        <div class="about-us__title-wrapp">
          <h3 class="title-h3">Our Happy Clients</h3>
        </div>
        <div class="about-us__range-wrapp">
          <input type="range" id="slider-range" class="about-us__range" value="0" min="0">
        </div>
        <div class="about-us__nav-wrapp">
          <button id="clientSlider__prev" class="about-us__nav-btn btn btn_small btn_icon btn_secondary"><i class="fa fa-chevron-left"></i></button>
          <button id="clientSlider__next" class="about-us__nav-btn btn btn_small btn_icon btn_secondary"><i class="fa fa-chevron-right"></i></button>
        </div>
      </div>
      <div class="about-us__slider-body">
        <%= include('carousel-multi-items/carousel-multi-items', {IMAGES}) %> 
      </div>
    </div>
  </div>
</div>
