<div class="about-us" style="margin-top: 250px">
  <div class="container">
    <div class="about-us__row-padding row">
      <%- include('__left_column'); %>
      <%- include('__middle_column'); %>
      <%- include('__right_column'); %>
    </div>

    <div class="about-us__slider">
      <div class="about-us__row-padding about-us__slider-header">
        <div class="about-us__title-wrapp">
          <h3 class="title-h3">Our Happy Clients</h3>
        </div>
        <div class="about-us__line-wrapp">
          <div class="about-us__line"></div>
        </div>
        <div class="about-us__nav-wrapp">
          <button class="btn btn_small btn_icon btn_secondary"><i class="fa fa-chevron-left"></i></i></button>
          <button class="btn btn_small btn_icon btn_secondary"><i class="fa fa-chevron-right"></i></button>
        </div>
      </div>
    <div class="about-us__slider-body">
      <div class="about-us__row-padding row">
        <div class="row__col-2">
          <div class="about-us__slider-card">
            <img class="about-us__slider-img" src="./img/jquery.png">
          </div>
        </div>
        <div class="row__col-2">
          <div class="about-us__slider-card">
            <img class="about-us__slider-img" src="./img/jquery.png">
          </div>
        </div>
        <div class="row__col-2">
          <div class="about-us__slider-card">
            <img class="about-us__slider-img" src="./img/jquery.png">
          </div>
        </div>
        <div class="row__col-2">
          <div class="about-us__slider-card">
            <img class="about-us__slider-img" src="./img/jquery.png">
          </div>
        </div>
        <div class="row__col-2">
          <div class="about-us__slider-card">
            <img class="about-us__slider-img" src="./img/jquery.png">
          </div>
        </div>
        <div class="row__col-2">
          <div class="about-us__slider-card">
            <img class="about-us__slider-img" src="./img/jquery.png">
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
</div>
