<% 
    const imgLit = [
        {
            url: "https://images.unsplash.com/photo-1603046978553-7dfda29bf53c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80",
            alt: "your image1",
        },
        {
            url: "https://images.unsplash.com/photo-1603046978553-7dfda29bf53c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80",
            alt: "your image2",
        },
    ]; 
%>
<div class="images">
    <div class="container">

        <div class="images__inner">
            <h2 class="title-h2">WHY MODUS VERSUS?</h2>
            <p class="description">Capacitance cascading integer reflective interface data development high bus cache
                dithering transponder. </p>

            <div class="images__wrapper">
                <div class="img_lit">

                    <% for (let img of imgLit) { %>
                        <div class="img">
                            <div class="img__wrapper">
                                <img class="img__wrapper__inner" 
                                    src="<%= img.url %>"
                                    alt="<%= img.alt %>">
                            </div>
                        </div>
                    <% } %>

                </div>
                <div class="img_big">
                    <div class="img">
                        <div class="img__wrapper">
                            <img class="img__wrapper__inner" 
                                src="https://images.unsplash.com/photo-1603046978553-7dfda29bf53c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                                alt="your image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>