.images {
    background: #ececec url('../img/Path.png') center top repeat-x;
    height: 400px;
    padding-top: 70px;


    &__inner {
        .title-h2 {
            color: #e1524b;
            @media (max-width:400px) {
                font-size: 1.8em;
                margin-bottom: 20px;
            }
        }

        .description {
            text-align: center;

            @media (max-width:590px) {
                margin-bottom: 50px;
            }
        }
    }

    &__wrapper {
        position: relative;

        .img_lit {
            display: flex;
            justify-content: space-between;

            .img {
                background: url('../img/mask.png');
                width: 370px;
                height: 259px;
                padding: 40px 5px 5px;
                transform: translateY(50%);
                margin-bottom: 100px;

                &__wrapper {
                    border-radius: 10px;
                    overflow: hidden;
                    width: 360px;
                    height: 213px;

                    &__inner {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        @media (max-width:769px) {
            .img_lit {
                display: none !important;
            }

        }

        .img_big {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 20%);

            @media (max-width:769px) {
                position: static;
                transform: translate(0, 20%);
                display: flex;
                justify-content: center;
                margin-bottom: 59px;
            }

            @media (max-width:590px) {
                transform: translate(0, 0);
            }

            .img {
                background: url('../img/bigmask.png') top center no-repeat;
                width: 570px;
                padding: 44px 5px 5px;

                @media (max-width:590px) {
                    background-size: contain;
                    width: 392px;
                    padding: 32px 6px 6px;
                }

                @media (max-width:400px) {
                    background: none;
                    width: 300px;
                    padding: 0;
                }

                &__wrapper {
                    border-radius: 10px;
                    overflow: hidden;
                    width: 560px;
                    height: 310px;

                    @media (max-width:590px) {
                        width: 380px;
                        height: 210px;
                    }

                    @media (max-width:400px) {
                        width: 100%;
                    }

                    &__inner {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}