<div class="carousel carousel_multi" >
  <div class="carousel__container carousel_multi__container" id="carousel-multi">
      <% for (let img of IMAGES) { %> 
        <div class="carousel__slide carousel_multi__slide">
          <img class="carousel__img carousel_multi__img" src="<%= img.imgUrl%>">
        </div>
      <% }%> 
  </div>
</div>