.logo {
    line-height: 20px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;

    &__sub {
      font-size: 25px;
      text-transform: lowercase;
      font-weight: normal;
      padding-left: 5px;
    }
}