<div class="header-mobile__body">
  <div class="header-mobile__links">
      <nav class="nav header-mobile__nav">
          <li class="nav__item btn nav__item_active"><a href="#" class="nav__link">Home</a></li>
          <li class="nav__item btn btn_link"><a href="#" class="nav__link">About</a></li>
          <li class="nav__item btn btn_link"><a href="#" class="nav__link">Services</a></li>
          <li class="nav__item btn btn_link nav__submenu">Portfolio
              <ul class='submenu__wrapp'>
                  <li class="submenu__item"><a href="#" class="nav__link submenu__link">Portfolio 2 column page</a></li>
                  <li class="submenu__item"><a href="#" class="nav__link submenu__link">Portfolio 2 column page</a></li>
                  <li class="submenu__item"><a href="#" class="nav__link submenu__link">Portfolio 2 column page</a></li>
              </ul>
          </li>
          <li class="nav__item btn btn_link"><a href="#" class="nav__link">Blog</a></li>
          <li class="nav__item btn btn_link"><a href="#" class="nav__link">Features</a></li>
          <li class="nav__item btn btn_link"><a href="#" class="nav__link">Contact</a></li>
      </nav>
  </div>
  <div class="header-mobile__search">
      <div class="header-mobile__search-input-wrapp">
          
          <input type="text" class="header-mobile__search-input input input_secondary" placeholder="Search the site">

      </div>
      <div class="header-mobile__search-btn-wrapp">
          <button class="header-mobile__search-btn btn btn_icon btn_secondary"><i class="fa fa-search"></i></button>
      </div>
  </div>
</div>