<header class="header">
    <div class="header__body">
        <div class="header__column">
            <a href="#"><p class="header__logo">Modus <span>Versus</span></p></a>
        </div>
        <div class="header__column">

            <div class="burger">
                <div class="first"></div>
                <div class="second"></div>
                <div class="third"></div>
            </div>

            <nav class="header__menu">
                <li class="menu__item btn btn_secondary">Home</li>
                <li class="menu__item btn btn_link">About</li>
                <li class="menu__item btn btn_link">Services</li>
                <li class="menu__item btn btn_link Portfolio">Portfolio
                    <ul class='header__submenu'>
                        <li>Portfolio 2 column page</li>
                        <li>Portfolio 2 column page</li>
                        <li>Portfolio 2 column page</li>
                    </ul>
                </li>
                <li class="menu__item btn btn_link">Blog</li>
                <li class="menu__item btn btn_link">Features</li>
                <li class="menu__item btn btn_link">Contact</li>
                <li class="menu__item btn btn_link icon"><i class="fa fa-search"></i></li>
            </nav>
        </div>
    </div>
</header>