@import "../../variables";

%pseudo-icon {
  content: $icon--angle-right;
  font-family: FontAwesome;
  margin-right: 5px;
  position: relative;
  top: -1px;
}

a {
  text-decoration: none;
}

.header {
  height: 90px;
  background: url("../img/ruller_bottom.png") repeat-x bottom, $primary-color;
  width: 100%;
  z-index: 3;
  position: fixed;
  top: 0;
  transition: $header__main-transition;

  &__small {
    height: 70px;

    .header__body {
      padding-top: 13px;
    }
  }

  &__body {
    margin: 0 auto;
    width: 1170px;
    padding: 0 $col-padding;
    max-width: 100%;
    padding: {
      top: 23px;
      left: $col-padding;
      right: $col-padding;
    }
    display: flex;
    transition: $header__main-transition;
  }

  &__column {
    max-width: 100%;

    &_logo {
      width: 30%;
    }

    &_nav {
      width: 70%;

      & .nav {
        @media screen and (max-width: $header__mobile-active-width) {
          display: none;
        }
      }

      & .burger {
        display: none;
        margin-top: 10px;
        float: right;

        &__line {
          display: block;
          background-color: white;
          width: 40px;
          height: 4px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            background-color: white;
            width: 40px;
            height: inherit;
            top: 11px;
          }

          &::after {
            content: "";
            position: absolute;
            background-color: white;
            width: 40px;
            height: inherit;
            bottom: 11px;
          }
        }

        &.active {
          transition: all 0.3s ease;
          & .burger__line {
            background: none;

            &::before {
              top: 0;
              transform: rotate(45deg);
              transition: all 0.3s linear;
            }

            &::after {
              bottom: 0;
              transform: rotate(-45deg);
              transition: all 0.3s linear;
            }
          }
        }

        @media screen and (max-width: $header__mobile-active-width) {
          display: block;
        }
      }
    }

    @media screen and (max-width: 300px) {
      .nav__menu.active {
        max-width: 100%;
        width: 800px;
      }
    }

    .logo {
      font-size: 28px;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      margin-top: 5px;

      & span {
        font-size: 18px;
        font-weight: 400;
        text-transform: lowercase;
      }
    }
  }

  &-mobile {
    display: flex;
    flex-direction: column;
    justify-content: start;
    backdrop-filter: blur(10px);

    &__body {
      display: none;
      overflow: hidden;
      padding-top: 30px;
      flex-direction: column;
      justify-content: space-between;
      transition: height 2s ease;
    }

    @media screen and (max-width: $header__mobile-active-width) {
      .header__body {
        padding-top: 30px;
      }
    }

    &_open {
      height: 100vh;
      justify-content: start;
      background-color: rgba($primary-color, 0.8);
      transition: height 0.5s ease;

      .header-mobile__body {
        display: flex;
        height: 100vh;
      }

      .header {
        &__column {
          &_logo {
            width: 100%;
          }
          &_nav {
            width: auto;

            .nav {
              display: none;
            }

            .burger {
              display: block;
            }
          }
        }
      }
    }

    &__search {
      height: 100px;
      padding: 0 $col-padding;
      display: flex;
      justify-content: space-between;
      font-size: 1.2em;

      &-input {
        @extend .btn_icon;
        min-width: 100%;
        padding: 0.6em 1em 0.7em;

        &-wrapp {
          width: 100%;
          padding-right: 10px;
        }

        &:focus {
          margin: {
            top: -$search-input__focus-border-width;
            right: -$search-input__focus-border-width;
            left: -$search-input__focus-border-width;
          }
        }
      }

      &-btn {
        width: 100%;
        padding: 0.5em 1em 0.6em 0.9em;

        &-wrapp {
          width: 50px;
        }
      }
    }

    &__nav {
      flex-direction: column;
      padding: 0 $col-padding;
    }

    &.header__small {
      .header__body {
        @media screen and (max-width: $header__mobile-active-width) {
          padding-top: 20px;
        }
      }
    }
  }
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__link {
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
    color: white;
  }

  &__item {
    padding: 0;

    &_active {
      @extend %btn-active;
    }

    &.btn_link {
      border-bottom: {
        width: 3px;
        style: solid;
        color: transparent;
      }
    }
    margin-bottom: 10px;
  }

  .btn {
    &:hover {
      background: $accent-color--darken;
      border: {
        top: 0;
        right: 0;
        bottom: 3px solid $accent-color--darken;
        left: 0;
      }
      border-bottom-width: 3px;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  &__submenu {
    position: relative;
    padding: 10px 15px;

    & .header__submenu {
      position: absolute;
      display: block;
      visibility: hidden;
      width: 198px;
      background-color: #e2534b;
      font-size: 13px;
      padding: 6px 5px 3px 5px;
      top: 53px;
      left: 1px;
      border-radius: 8px;
      transition: all 3s, 3s, linear;
      list-style-type: none;

      &.active {
        visibility: visible;
      }

      &::before {
        position: absolute;
        content: "";
        display: block;
        border-radius: 0px 0px 23px 0px;
        width: 10px;
        height: 10px;
        background-color: $accent-color--darken;
        top: -4px;
        left: 14px;
        transform: rotate(45deg);
      }
    }

    &::before {
      @extend %pseudo-icon;
    }
  }

  .portfolio:active,
  .portfolio:focus {
    .header__submenu {
      visibility: visible;
    }
  }
}

.submenu {
  &__link {
    &::before {
      @extend %pseudo-icon;
    }
  }
  &_active {
    background-color: $accent-color--darken;

    &::before {
      content: $icon--angle-down;
      margin-left: -4px;
    }

    .submenu__wrapp {
      display: block;
    }
  }

  &__wrapp {
    display: none;
    list-style: none;
    padding-top: 15px;
  }

  &__item {
    margin-bottom: 4px;
    border-radius: 3px;
    position: relative;
    background-color: #e8645a;
    text-transform: capitalize;

    &:hover {
      background-color: $primary-color--darken;
    }
  }
}

.header-nav {
  &__item {
    padding: 8px 15px;

    &_active {
      @extend %btn-active;
    }
  }

  &__link {
    color: white;
  }
}

.header-submenu {
  margin: {
    top: 20px;
    left: -15px;
  }
  font-weight: lighter;
  position: absolute;
  padding: 10px;
  background-color: $accent-color--darken;
  border-radius: $header-border-radius;
  min-width: 100px;
  list-style: none;

  &::before {
    position: absolute;
    content: "";
    display: block;
    border-radius: 0px 0px 23px 0px;
    width: 10px;
    height: 10px;
    background-color: $accent-color--darken;
    top: -4px;
    left: 14px;
    transform: rotate(45deg);
  }

  &__item {
    background-color: $accent-color;
  }

  &__link {
    padding: 5px 10px;
    line-height: 1.6;
    &::before {
      @extend %pseudo-icon;
    }
  }
}

%btn-active {
  background-color: $primary-color--darken;
  border-bottom-color: darken($primary-color--darken, 10%);
}

.header-nav__submenu {
  position: initial;
}
