@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 13px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f3f3f3;
}


a {
  color: $accent-color;
}

.container {
  max-width: 1170px;
  padding: {
    left: 15px;
    right: 15px;
  };
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.1em;
  color: #fff;
  padding: .7em 1em;
  background: $primary-color;
  border: {
    top: 0;
    right: 0;
    bottom: solid 3px $primary-color--darken;
    left: 0;
  }
  border-bottom-width: 3px;
  border-radius: 4px;
  cursor: pointer;

  &_accent {
    background: $accent-color;
    border-bottom-color: $accent-color--darken;
  }

  &_secondary {
    background: $secondary-color;
    border-bottom-color: $secondary-color--darken;
  }

  &_link {
    background: none;
    border: none;
    text-decoration: none;
  }

  &_icon {
    font-size: 1.2em;
    padding: .65em 1em .55em;
  }

  &_small {
    font-size: 1em;
  }

  &_large {
    font-size: 1.5em;
    padding: 1.3em 3.3em;
    border-bottom-width: 4px;
  }

  &:hover {
    background: $accent-color;
    border-bottom-color: $accent-color--darken;
  }

  &:active {
    background: $accent-color--darken;
  }

  &:focus {
    outline: 0;
  }
}

/* 
  используется в template.html
  можно потом убрать
*/
.primary-wrapp {
  background: $primary-color;
}

.title {
  &-h2 {
    font-size: 2.8em;
    text-align: center;
    font-weight: 600;
    color: $accent-color;
  }
  &-h3 {
    font-size: 1.23em;
    color: $secondary-color--darken;
  }
}

$col-padding: 15px;

%col-paddings {
  padding: {
    left: $col-padding;
    right: $col-padding;
  };
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: {
    left: -$col-padding;
    right: -$col-padding;
  };

  &__col {
    @extend %col-paddings;
    flex-grow: 1;
  }
  &__col-2 {
    @extend %col-paddings;
    width: 16.67%;
  }

  &__col-3 {
    @extend %col-paddings;
    width: 25%;
  }

  &__col-4 {
    @extend %col-paddings;
    width: 33.33%;
  }
  
  &__col-6 {
    @extend %col-paddings;
    width: 50%;
  }

  &__col-9 {
    @extend %col-paddings;
    width: 75%;
  }
}

// Подключать стили компонентов тут 
@import 'components/logo/logo';
@import 'components/header/header';
@import 'components/slider/slider';
@import 'components/services/services';
@import 'components/images_section/images_section';
@import 'components/about_us/about_us';
@import 'components/footer/footer';
