$font-name: 'Open Sans';

$primary-color: #76c7c0;
$primary-color--darken: darken($primary-color, 14%);

$secondary-color: #98a3a3;
$secondary-color--darken: #7f8c8c;

$accent-color: #e8645a;
$accent-color--darken: #e2534b;
$accent-color--focus:#62a29e;
$accent-color--focus--darken:#528b86;

$text-color--grey: #777777;

$background-color: #f3f3f3;
$background-color--darken: #ececec;

$col-padding: 15px;

$main-border-radius: 4px;

$search-input__focus-border-width: 5px;

$padding-under-header: 90px;

// Header component variables
$header__mobile-active-width: 1050px;
$header-border-radius: 5px;
$header__main-transition: all 0.1s ease-out;

// Slider component's variables
$slider__height: 550px;
$slider__subtitle-bg-color: rgba(0, 0, 0, 0.5);

// About Us component's variables:
$about_us__slider-card-bg-color: #f8f8f8;
$about_us__line-color: #e1e2e2;
$about_us__slider-padding: 15px;
$about_us__media-cols: 700px;
$about_us__media-slider-nav: 455px;

// Footer component's variables
$footer__base-padding: 20px;
$footer__title-color: #4b7e79;
$footer__blog-img-bg-color: #5e9f9a;
$footer__blog-img-icon-color: rgba(255, 255, 255, 0.5);

// Font Awesome Unicode Icons:
$icon--arrow-left: "\f060";
$icon--arrow-right: "\f061";
$icon--angle-right: "\f105";
$icon--angle-down: "\f107";

// Media screens values
$media-window--laptop: 1024px;
$media-window--tablet: 768px;
$media-window--mobile-L: 425px;
$media-window--mobile-M: 375px;
$media-window--mobile-S: 320px;

