$primary-color: #76c7c0;
$primary-color--darken: #62b9b0;

$secondary-color: #98a3a3;
$secondary-color--darken: #7f8c8c;

$accent-color: #e8645a;
$accent-color--darken: #e2534b;

$text-color--grey: #777777;

// Footer component's variables
$footer__base-padding: 20px;
$footer__title-color: #4b7e79;

$media-window--laptop: 1024px;
$media-window--tablet: 768px;
$media-window--mobile-L: 425px;
$media-window--mobile-M: 375px;
$media-window--mobile-S: 320px;