@import "../../variables";

%block-slides {
  position: relative;
  height: $slider__height;
}

%flex {
  display: flex;
}

%flex-column {
  @extend %flex;
  flex-direction: column;
  justify-content: center;
}

.slider {
  display: block;
  padding-top: 112px;

  &__wrapp {
    @extend %block-slides;
    z-index: 2;
    justify-content: space-between;
  }

  &__info {
    @extend %flex-column;
    align-items: center;
    text-align: center;
    padding: 0 25px;
    height: inherit;
  }

  &__title {
    display: inline-block;
    font-size: 3.846em;
    color: #fff;
    background: $accent-color;
    text-transform: uppercase;
    border-radius: $main-border-radius;
    line-height: 1;
    font-weight: 900;
    padding: 0 0.3em 0.07em;
    margin-bottom: 10px;

    @media screen and (max-width: $media-window--tablet) {
      font-size: 3em;
    }
    @media screen and (max-width: $media-window--mobile-L) {
      font-size: 9vw;
    }
  }

  &__subtitle {
    font-size: 1.23em;
    padding: 0.6em 2.6em 0.7em;
    background: $slider__subtitle-bg-color;
    border-radius: $main-border-radius;
    line-height: 1.7;
    color: #fff;
    max-width: 500px;

    @media screen and (max-width: $media-window--tablet) {
      font-size: 1em;
    }
  }


  &__control {
    @extend %flex-column;
    height: $slider__height;
    z-index: 3;
    position: relative;

    &_left {
      float: left;
      margin-bottom: -$slider__height;
    }

    &_right {
      float: right;
      margin-top: -$slider__height;
    }
  }

  &__bottom-controls {
    @extend %flex;
    justify-content: center;
    padding: 1.5em;
  }

  &__control-item {
    cursor: pointer;
    width: 60px;
    height: 5px;
    margin: 0 5px;
    background: #b0b8b9;

    &_active {
      background: $accent-color;
    }
  }

  &__btn {
    font-size: 3em;
    padding: 0.3em;
    line-height: 0;
    border-radius: $main-border-radius;

    &_left {
      padding-right: 0.4em;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &_right {
      padding-left: 0.4em;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__images {
    @extend %block-slides;
    z-index: 1;
    background: $secondary-color--darken;
  }
}
