<div class="slider">

  <div class="slider__wrapp">
    <div class="slider__control slider__control_left">
      <button id="slider__prev" class="slider__btn slider__btn_left btn btn_icon btn_accent">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
      </button>
    </div>
    <div class="slider__images" id="main-slider__container"></div>
    <div class="slider__control slider__control_right">
      <button id="slider__next" class="slider__btn slider__btn_right btn btn_icon btn_accent btn-large">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div class="slider__bottom-controls"></div>
</div>